In [1]:
x = 4
print(type(x))

<class 'int'>

In [2]:
x = str(x)
print(type(x))

<class 'str'>

In [3]:
x = 10 #global variable
def fun1():
    y = 7
    print(x)
    
fun1()

10

In [4]:
x = 7
y = 9
x==y

False

In [5]:
x != y

True

In [6]:
x = 10
x > 1 and x < 20

True

In [7]:
x > 1 or x < 10

True

In [8]:
#10 = 1010
#11 = 1011
print(10 & 11)
print(10 | 11)

10
11

In [9]:
#Identity operator
x = 10
y = 10
z = 15
print(x is y)
print(z is y)
print(z is not x)

True
False
True

In [10]:
#Membership operator
t = (3,4,6,9)
4 in t

True

In [11]:
#String formatting
s1 = "Harry"
s2 = "Potter"
print('Hello I am {} {}'.format(s1,s2))
print('Hello I am {0} {1}'.format(s1,s2))

Hello I am Harry Potter
Hello I am Harry Potter

In [12]:
#Using f strings
sname = "Pam"
age = 25
print(f'My name is {sname}. I am {age} years old')

My name is Pam. I am 25 years old

In [13]:
#String methods
s1 = "bollywood"
s1.capitalize()

'Bollywood'

In [14]:
s2 = "HOLLYWOOD"
s2.lower()

'hollywood'

In [15]:
s3 = "movie"
s3.upper()

'MOVIE'

In [16]:
#join method
s1 = ['Ram','Shyam','Mohan']
x = " ".join(s1)
x

'Ram Shyam Mohan'

In [17]:
s = 'Data+Science'
s.split('+')

['Data', 'Science']

In [18]:
s = '     Data'
s.strip()

'Data'

In [27]:
#input
input("What is your name?")

What is your name?Sthiti

'Sthiti'

In [28]:
a = int(input("Enter number:"))

Enter number:200

In [19]:
x = 4
if x > 0:
    print('{} greater than 0'.format(x))
else:
    print('{} not greater than 0'.format(x))

4 greater than 0

In [20]:
a = ['Delhi','Jaipur','Mumbai','Hyderabad']
for city in a:
    print(city)

Delhi
Jaipur
Mumbai
Hyderabad

In [21]:
#using break statement
for i in range(1,10):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [23]:
#using continue statement
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9